/* Coolors Exported Palette - https://coolors.co/f1e3f3-c2bbf0-8fb8ed-62bfed-3590f3 */

/* CSS HEX */
--pale-purple-pantone: #f1e3f3ff;
--lavender-blue: #c2bbf0ff;
--french-sky-blue: #8fb8edff;
--capri: #62bfedff;
--dodger-blue: #3590f3ff;

/* CSS HSL */
--pale-purple-pantone: hsla(293, 40%, 92%, 1);
--lavender-blue: hsla(248, 64%, 84%, 1);
--french-sky-blue: hsla(214, 72%, 75%, 1);
--capri: hsla(200, 79%, 66%, 1);
--dodger-blue: hsla(211, 89%, 58%, 1);

/* SCSS HEX */
$pale-purple-pantone: #f1e3f3ff;
$lavender-blue: #c2bbf0ff;
$french-sky-blue: #8fb8edff;
$capri: #62bfedff;
$dodger-blue: #3590f3ff;

/* SCSS HSL */
$pale-purple-pantone: hsla(293, 40%, 92%, 1);
$lavender-blue: hsla(248, 64%, 84%, 1);
$french-sky-blue: hsla(214, 72%, 75%, 1);
$capri: hsla(200, 79%, 66%, 1);
$dodger-blue: hsla(211, 89%, 58%, 1);

/* SCSS RGB */
$pale-purple-pantone: rgba(241, 227, 243, 1);
$lavender-blue: rgba(194, 187, 240, 1);
$french-sky-blue: rgba(143, 184, 237, 1);
$capri: rgba(98, 191, 237, 1);
$dodger-blue: rgba(53, 144, 243, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-right: linear-gradient(90deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-bottom: linear-gradient(180deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-left: linear-gradient(270deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-top-right: linear-gradient(45deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-bottom-right: linear-gradient(135deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-top-left: linear-gradient(225deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-bottom-left: linear-gradient(315deg, #f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);
$gradient-radial: radial-gradient(#f1e3f3ff, #c2bbf0ff, #8fb8edff, #62bfedff, #3590f3ff);